.vertical {
  display: flex;
}

.vertical > ul.react-tabs__tab-list li.react-tabs__tab{
  display: block;
}

.react-tabs__tab-list{
  border-bottom: 1px solid green;
}

.react-tabs__tab.react-tabs__tab--selected{
  background-color: green;
  color: black;
  border: none;
  border-radius: 0px;
  padding: 10px;
}

.react-tabs__tab-panel.react-tabs__tab-panel--selected{
  border: 1px solid green;
}

.react-tabs__tab {
  border: 1px dotted green;
}

hr {
  border: 1px solid green;
}


#tabs .react-tabs__tab{
  padding: 0em 1em;
}

.react-tabs__tab-list {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin: 0 0 10px;
  padding: 0;
}
