a {
  color: green;
}

td{
  vertical-align: top;
}

table.matrix td {
  width: 3em;
  text-align: left;
}

body{
  background-color: black;
  color: green;
  font-family: "Lucida Console", Monaco, monospace;
}

#command-line {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 2px;
  outline: none;
  border: none;
}

#command-line *{
  background-color: green;
  color: black;
  font-size: 16px;
  font-family: "Lucida Console", Monaco, monospace;
}

#command-line form {
  display: inline;
}

#time {
  float:right;
}

.scrolly {
  overflow: scroll;
  height: 100%;
}

.react-tabs__tab-panel.react-tabs__tab-panel--selected {
  height: calc(90vh);
}

.react-tabs__tab-list {
  border-bottom: 1px solid green;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab  {
  text-decoration: underline;
}
