doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      div.container-fluid
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/') /
            if (user)
              li
                | Welcome #{user.name}

            if (!user)
              li
                a(href='/login') Login
              li
                a(href='/register') Register
            else
              li  
                | users
                ul
                  li
                    a(href="/users/allUsers") My user
                  li
                    a(href="/users/allUsers") All users
              li
                | sessions
                ul
                  li 
                    a(href="/sessions") All sessions
                  li
                    a(href="/sessions/new") New session
              li
                | ships
                ul
                  li 
                    a(href="/ships") All ships
                  li
                    a(href="/ships/new") New ship
              li
                a(href='/logout') Logout

    div.container
      div.content
        block content
