// https://codepen.io/chrissimmons/full/bqBabr

$width:800px;
$center: translate(-50%, -50%);
$background-image: url("/images/badshroom.png");
$top-image: url('https://i.imgsafe.org/1597028664.png');
$bottom-image: url('https://i.imgsafe.org/15996dba4e.png');
$alt-background-image: url('https://i.imgsafe.org/159cbae8cd.jpg');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800|Press+Start+2P');
$gameFont: 'Press Start 2P';
* {
	transform-style: preserve-3d;
	outline: 2px solid transparent;
}

body {
	// width: 100vw;
	// height: 100vh;
	// background: url(https://i.imgsafe.org/06fe92b799.jpg);
	// background-size: cover;
	// background-repeat: no-repeat;
	// background-position: center center;
	// overflow: hidden;
}

#wrapper {
	perspective: 300px;
	perspective-origin: 50% 30%;
	overflow: hidden;
	background: rgba(27, 28, 29, 1);
	background-size: cover;
	// width: 800px;
	// height: 600px;
	// position: absolute;
	// left: 50%;
	// transform: translate(-50%, 0%);
	margin-top: 26px;
	border: outset 5px #c5b88b;
	#menu {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .35);
		background-image: url(https://i.imgsafe.org/03260db71a.png);
		background-repeat: no-repeat;
		background-position: center 2.5%;
		background-size: 265px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9999;
		font-family: $gameFont;
		ul {
			width: 500px;
			height: 50%;
			position: absolute;
			bottom: 20%;
			left: calc(50% - 135px);
			li {
				color: #bf0000;
				font-size: 42px;
				line-height: 85px;
				-webkit-text-stroke-width: .025px;
				-webkit-text-stroke-color: #430000;
				text-shadow: 3px 3px #1b1b1b, 0 0 5px #bf0000;
				cursor: url(https://i.imgsafe.org/04d1fe6b60.gif) 20 20, auto;
				font-variant: small-caps;
				position: relative;
				max-width: 60%;
				a,
				a:hover,
				a:visited {
					text-decoration: none;
					color: #bf0000;
					cursor: url(https://i.imgsafe.org/04d1fe6b60.gif) 20 20, auto;
				}
				&:hover:before {
					opacity: 1;
				}
				&:before {
					content: '';
					width: 12.5%;
					height: 80%;
					position: absolute;
					left: -17.5%;
					top: 5%;
					background: url(https://i.imgsafe.org/04517ed818.png);
					background-repeat: no-repeat;
					background-position: center center;
					-webkit-filter: brightness(115%);
					opacity: 0;
				}
			}
		}
	}
	#ctrlMenu{
		position:absolute;
		width:100%;
		height:100%;
		top:-100%;
		z-index:9999;
		transition:all .25s linear;
		background:url(https://static.giantbomb.com/uploads/original/0/7223/2446018-interpic.png) no-repeat;
		background-size:100% 100%;
		ul{
			width:100%;
			height:100%;
			position:absolute;

			li{
				width:auto;
				text-align:center;
				height:50px;
				margin-top:7.5%;
				color:#bf0000;
				font-size:30px;
				line-height:50px;
				font-family:$gameFont;
				-webkit-text-stroke-width: .025px;
				-webkit-text-stroke-color: #430000;
				text-shadow: 3px 3px #1b1b1b;
				font-variant:small-caps;
			}

			li:last-child{
				height:50px;
				margin-top:15%;
				font-size:46px;
				line-height:50px;
				cursor: url(https://i.imgsafe.org/04d1fe6b60.gif) 20 20, auto;
			}

			#closeCtrlMenu{
			}
		}

	}

}

#computer {
	width: 810px;
	height: 610px;
	position: absolute;
	margin-top: 13px;
	left: 50%;
	transform: translate(-50%, 0%);
	Border: 13px inset #c5b88b;
	border-radius: 10px;
	perspective: 300px;
	box-shadow: 0 7px 14px -6px black, inset 0 0 0 2px black;
	.bottom {
		width: calc(100% - 10px);
		height: 20%;
		background: #c5b88b;
		position: absolute;
		bottom: calc(-20% - 15px);
		left: 0;
		transform: rotateX(10deg);
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		Border: 5px inset #c5b88b;
		&:after {
			content: '';
			width: calc(100% - 10px);
			height: calc(100% - 10px);
			pointer-events: none;
			position: absolute;
			left: 0;
			top: 0;
			Border: outset 5px #c5b88b;
			box-shadow: inset 0 0 0 1px black;
		}
		.diskDrive {
			width: 250px;
			height: 15px;
			position: absolute;
			bottom: 35%;
			right: 7.5%;
			background: rgba(26, 27, 28, 1);
			border: 7px inset #c5b88b;
			border-radius: 3px;
			transform: skew(-8deg);
			box-shadow: 0 0 0 1px rgba(26, 27, 28, 1);
			&:before {
				content: '';
				width: 30%;
				height: 175%;
				background: rgba(26, 27, 28, 1);
				position: absolute;
				top: -82.5%;
				right: -15px;
				border-top: 7px inset #c5b88b;
				border-bottom: 7px inset #c5b88b;
				border-right: 7px inset #c5b88b;
				border-radius: 3px;
				box-shadow: 0 0 0 1px rgba(26, 27, 28, 1);
			}
		}
		.onLight {
			width: 20px;
			height: 10px;
			border: 4px inset #c5b88b;
			box-shadow: 0 0 0 1px rgba(26, 27, 28, 1), inset 0 0 10px rgba(0, 0, 0, .5);
			position: Absolute;
			top: 70%;
			left: 5%;
			background: limegreen;
			cursor:pointer;
			&:after {
				content: 'Power';
				width: 200%;
				position: absolute;
				right: -300%;
				top: -35%;
				font-size: 18px;
				font-family: 'Open Sans';
			}
		}
		.logo {
			width: 120px;
			height: 25px;
			line-height: 25px;
			color: black;
			position: absolute;
			top: 25%;
			left: 5%;
			text-transform: uppercase;
			display: flex;
			justify-content: space-between;
			flex-flow: nowrap;
			font-size: 18px;
			font-family: 'Open Sans';
			.slash {
				height: 70%;
				width: 10%;
				margin-top: 2.5%;
				transform: skew(-25deg);
				&:nth-child(1) {
					background: #a23328;
				}
				&:nth-child(2) {
					background: #396f23;
				}
				&:nth-child(3) {
					background: #588dc3;
				}
			}
		}
	}
}

.preloader {
	width: 50px;
	height: 50px;
	opacity: 0;
	position: absolute;
	pointer-events: none;
}

iframe {
	position: fixed;
	width: 0;
	height: 0;
}

#pause {
	width: 100px;
	height: 20px;
	position: absolute;
	text-align: left;
	cursor: pointer;
	line-height: 20px;
	bottom: 5.5%;
	right: 4%;
	font-size: 14px;
	font-family: 'Open Sans';
}

/////////////////////////////////////

#gameWorld {
	-webkit-transform-origin: 0% 0% 5;
	transform-origin: 0% 0% 5;

  width: 400px;
  height: 400px;

  .frontOWall {
    background-color: red;
	}

  .rightOWall {
		background-color: blue;
	}

  .leftOWall {
    background-color: green;
	}

  .backOWall {
		background-color: orange;
	}

  .bottomOWall {
		background-color: yellow;
	}


	.smallroom,
	.largeRoom {
		width: $width;
		height: calc(#{$width} /2);
		transform-style: preserve-3d;
		position: absolute;
		top: 0;
		left: 0;
		.leftOWall,
		.rightOWall {
			position: Absolute;
			width: 100%;
			height: 100%;
			// background: $background-image;
			transform: rotateY(90deg) translateZ(-400px);
			// background-color:#333;
		}
		.rightOWall {
			transform: rotateY(-90deg) translateZ(-400px);
		}
		.topOWall,
		.bottomOWall {
			width: 100%;
			height: 200%;
			position: absolute;
			// background-color:#555 !important;
		}
		.topOWall {
			// background: $top-image;
			background-size: 512px 512px !important;
			transform: rotateX(-90deg) translateZ(-400px) translateY(0vw);
		}
		.bottomOWall {
			// background: $bottom-image;
			background-size: 256px 256px !important;
			transform: rotateX(90deg) translateZ(0vw) translateY(0vw);
		}
		.frontOWall {
			position: Absolute;
			width: 100%;
			height: 100%;
			background-size: cover;
			transform: rotateY(0deg) translateZ(-400px);
			&:Before,
			&:after {
				content: '';
				width: calc(25% - 80px);
				height: 100%;
				// background: $background-image;
				background-size: 256px 80% !important;
				position: absolute;
				left: 0;
			}
			&:after {
				left: initial;
				right: 0;
			}
			.door {
				width: 50%;
				height: 90%;
				//REMOVE UNTIL DOOR OPEN CODE IN PLACE
				//background: url(http://i.imgsafe.org/b5554625c9.jpg);
				background-size: 100% 100%;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translate(-50%, 0);
				backface-visibility: hidden;
				*{

				background-color:whitesmoke;
				}
				&:before {
					content: '';
					position: absolute;
					width: 100%;
					height: 40px;
					background-image: $background-image;
					background-size: 256px 80% !important;
					transform: translateY(-20px) translateZ(20px) rotateX(90deg);
				}
				.dlside,
				.drside,
				.dtside {
					position: absolute;
					background-image: $background-image;
					background-size: 256px 80% !important;
					backface-visibility: hidden;
					&:before,
					&:after {
						content: '';
						position: absolute;
						transform-style: preserve-3d;
						backface-visibility: hidden;
					}
					&:before {
						background-image: url(https://www.bghq.com/textures/doom/289.png);
						background-size: 100% auto;
					}
					&:after {
						background-image: $background-image;
						background-size: 256px 80% !important;
					}
				}
				.dlside {
					height: 100%;
					width: 80px;
					transform: translateZ(40px) translateX(-80px);
					.switch {
						width: 95%;
						height: 22.5%;
						background: url(https://www.bghq.com/textures/doom/391.png);
						background-size: 100% 100%;
						position: absolute;
						top: 40%;
						left: 2.5%;
					}
					&:before {
						width: 50%;
						height: 100%;
						right: -20px;
						transform: rotateY(90deg) translateX(20px);
					}
					&:after {
						width: 50%;
						height: 100%;
						left: -20px;
						transform: rotateY(-90deg) translateX(-20px);
					}
				}
				.drside {
					height: 100%;
					width: 80px;
					right: 0;
					transform: translateZ(40px) translateX(80px);
					&:before {
						width: 50%;
						height: 100%;
						left: -20px;
						transform: rotateY(-90deg) translateX(-20px);
					}
					&:after {
						width: 50%;
						height: 100%;
						right: -20px;
						transform: rotateY(90deg) translateX(20px);
					}
				}
				.dtside {
					width: calc(100% + 160px);
					height: 11%;
					left: -80px;
					transform: translateZ(40px) translateY(-32px);
					&:before,
					&:after {
						width: 40px;
						height: 100%;
						background-image: $background-image;
					}
					&:before {
						left: -20px;
						transform: rotateY(-90deg) translateX(-16px);
					}
					&:after {
						right: -20px;
						transform: rotateY(90deg) translateX(16px);
					}
				}
			}
		}
		.backOWall {
			position: Absolute;
			width: 100%;
			height: 100%;
			// background: skyblue;
			transform: rotateY(180deg) translateZ(calc(#{$width / 2 * -1}));
			// background: $background-image;
			// background-color:#777;
		}
		.leftOWall,
		.rightOWall,
		.frontOWall,
		.backOWall {
			background-size: 256px 80% !important;
		}
	}
	.largeRoom {
		width: calc(#{$width} * 2);
		height: calc(#{$width} /2);
		.leftOWall,
		.rightOWall {
			transform: rotateY(90deg) translateZ(calc(#{$width * -1}));
		}
		.rightOWall {
			transform: rotateY(-90deg) translateZ(calc(#{$width * -1}));
		}
		.frontOWall {
			transform: rotateY(0deg) translateZ(calc(#{$width * -1}));
		}
		.backOWall {
			transform: rotateY(180deg) translateZ(calc(#{$width * -1}));
		}
		.leftOWall,
		.rightOWall,
		.frontOWall,
		.backOWall {
			background: transparent;
			display: flex;
			justify-content: space-between;
			.bigwside {
				width: calc(100% / 2.665);
				height: 100%;
				background: $background-image;
				background-size: 256px 80% !important;
				background-color:#777;
			}
		}
		.topOWall,
		.bottomOWall {
			height: 400%;
			transform: rotateX(-90deg) translateZ(calc(-800px)) translateY(0vw);
		}
		.bottomOWall {
			transform: rotateX(-90deg) translateZ(calc(-400px)) translateY(0vw);
		}
	}
	.straightHallway {
		width: $width;
		height: calc(#{$width} /2);
		transform-style: preserve-3d;
		position: absolute;
		top: 0;
		left: 0;
		.leftOWall,
		.rightOWall {
			position: Absolute;
			width: 100%;
			height: 100%;
			background: $alt-background-image;
			background-color:#888;
			transform: rotateY(90deg) translateZ(calc(#{$width / 4 * -1}));
			background-size: 256px 80% !important;
		}
		.rightOWall {
			transform: rotateY(-90deg) translateZ(calc(#{$width / 4 * -1}));
		}
		.topOWall {
			width: 50%;
			height: 200%;
			position: absolute;
			background-color: rgb(51, 51, 51);
			background: $top-image;
			background-size: 512px 512px !important;
			position: absolute;
			transform: rotateX(-90deg) translateZ(calc(#{$width / 2 * -1})) translateX(200px);
			background-color:#888;
		}
		.bottomOWall {
			width: 50%;
			height: 200%;
			position: absolute;
			background: $bottom-image;
			background-color:#888;
			background-size: 256px 256px !important;
			position: absolute;
			transform: rotateX(90deg) translateX(200px);
		}
	}
	.angleHallway {
		width: $width;
		height: calc(#{$width} /2);
		transform-style: preserve-3d;
		position: absolute;
		top: 0;
		left: 0;
		.angleHLwall,
		.angleHRwall,
		.angleHAwall,
		.angleHFwall {
			position: Absolute;
			width: 100%;
			height: 100%;
			background: $background-image;
			background-size: 256px 80% !important;
			background-color:#222;
		}
		.angleHLwall {
			width: 150%;
			transform: rotateY(90deg) translate3d(-200px,
			0vw,
			calc(#{$width / 2 * -1}));
		}
		.angleHRwall {
			transform: rotateY(-90deg) translateZ(calc(#{$width / 4 * -1}));
		}
		.angleHB1wall,
		.angleHB2wall,
		.angleHT1wall,
		.angleHT2wall {
			width: 50%;
			height: 200%;
			position: absolute;
			background-color:#222;
		}
		.angleHT1wall {
			background: $top-image;
			background-size: 512px 512px !important;
			transform: rotateX(-90deg) translateZ(calc(#{$width / 2 * -1})) translateX(200px);
		}
		.angleHT2wall {
			background: $top-image;
			background-size: 512px 512px !important;
			transform: rotateX(-90deg) rotate(90deg) translateZ(calc(-400px)) translateY(-400px) translateX(-600px);
		}
		.angleHB1wall {
			background: $bottom-image;
			background-size: 256px 256px !important;
			transform: rotateX(90deg) translateX(200px);
		}
		.angleHB2wall {
			background: $bottom-image;
			background-size: 256px 256px !important;
			transform: rotateX(90deg) rotate(90deg) translateX(200px) translateY(-400px) translateX(400px);
		}
		.angleHAwall {
			width: 50%;
			transform: translate3d(600px,
			0vw,
			calc(#{$width / 2}));
		}
		.angleHFwall {
			transform: translate3d(200px,
			0vw,
			calc(#{$width}));
		}
	}
	.barrel {
		width:calc(#{$width} / 4);
		height:calc(#{$width} / 8);
		position: relative;
		$x: 0;
		@for $i from 1 through 21 {
			.side:nth-child(#{$i}) {
				$yRotate: $i * 18;
				$bPos: $x * 5%;
				$x: $x + 1;
				//End variables
				width: 5%;
				height: 100%;
				background: url(https://i.imgsafe.org/47df086c8a.png);
				Background-size: calc(20 * 100%) 100%;
				background-position-x: $bPos;
				position: absolute;
				transform: rotateY(($yRotate+ deg)) translate3d(0vw, 0vw, 30px);
			}
		}
	}
	.marine {
		height: 200px;
		width: 200px;
		position: absolute;
		//Gif was stopping because of rotation so
		//I placed it on the before to solve the issue
		&:before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			background-size: 100% 100%;
			background-image: url(https://i.imgsafe.org/14b06ac7fc.gif);
		}
	}
	/*POSITION GAME OBJECTS*/
	.gameObject0 {
		transform: translate3d(0vw, 0vw, 0vw);
	}
	.gameObject1 {
		transform: translate3d(0vw, 0vw, -800px);
	}
	.gameObject2 {
		transform: translate3d(-400px, 0vw, -2000px);
	}
	.gameObject3 {
		transform: translate3d(0vw, 0vw, -3200px);
	}
	.gameObject4 {
		transform: translate3d(-1400px, 0vw, -2600px);
	}
	.gameObject5 {
		transform: translate3d(-1400px, 0vw, -3400px) rotateY(180deg);
	}
	.gameObject6 {
		transform: translate3d(-2400px, 0vw, -4000px) rotateY(-90deg);
	}
	.gameObject7 {
		transform: translate3d(-50px, 320px, -440px) rotateY(90deg) rotate(10deg) skew(10deg);
	}
	.gameObject8 {
		transform: translate3d(1200px, 0vw, -2000px) rotateY(90deg);
	}
	.gameObject9 {
		transform: translate3d(0vw, 0vw, -4000px) rotateY(-180deg);
	}
	.gameObject10 {
		transform: translate3d(-215px, 100px, -1400px) rotateY(120deg);
	}
}

#hud {
	width: 100%;
	height: 15%;
	max-height: 150px;
	position: absolute;
	bottom: 0;
	background: black;
	display: flex;
	justify-content: space-between;
	z-index: 1;
	#gun {
		width: 100%;
		height: 300%;
		position: absolute;
		top: -285%;
		background-image: url(https://i.imgsafe.org/fa5b4b08b7.png);
		background-size: 420px;
		background-repeat: no-repeat;
		background-position: center bottom;
		z-index: -2;
	}
	.hsec {
		height: calc(100% - 6px);
		background-color: #666666;
		background-image: url(https://i.imgsafe.org/a0c076ee3d.png);
		float: left;
		border: inset 3px rgba(#7e7e7e, .5);
		font-family: 'Press Start 2P';
		color: #ababab;
		text-align: center;
		font-size: 14px;
		text-shadow: 3px 3px #1b1b1b;
		font-weight: 700;
		letter-spacing: 2px;
		span {
			color: #bf0000;
			display: block;
			font-size: 36px;
			text-align: right;
			margin-top: 5%;
			margin-bottom: 1%;
			height: 61%;
			-webkit-text-stroke-width: .025px;
			-webkit-text-stroke-color: #430000;
			padding-right: 10%;
			width: calc(100% - 10%);
		}
	}
	.hsec:nth-child(1) {
		width: calc(12.5% - 6px);
	}
	.hsec:nth-child(2) {
		width: calc(17.5% - 6px);
	}
	.hsec:nth-child(3) {
		width: calc(14% - 6px);
		div {
			height: 100%;
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			i {
				width: 23%;
				height: 12%;
				display: flex;
				align-items: center;
				justify-content: center;
				float: left;
				font-size: 8px;
				color: #ffff73;
				padding: 3% 1% 2% 1%;
				text-shadow: 3px 3px #430000;
				background-color: rgba(#3b3b3b, .75);
				margin: 1px;
				border: outset 2px grey;
			}
		}
	}
	.hsec:nth-child(4) {
		width: calc(10% - 6px);
		background-color: #2a2a2a;
		background-image: url(https://i.imgsafe.org/b55803ce58.gif);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.hsec:nth-child(5) {
		width: calc(17.5% - 6px);
	}
	.hsec:nth-child(6) {
		width: calc(5% - 6px);
		span {
			display: block;
			width: 60%;
			height: 28%;
			border: outset 2px grey;
			background-color: rgba(#3b3b3b, .75);
			margin: auto;
			margin-top: .5px;
		}
	}
	.hsec:nth-child(7) {
		width: calc(25% - 6px);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		p {
			font-size: 9px;
			padding-left: 10px;
			text-align: left;
			margin-top: 4%;
			i:first-child {
				padding-left: 5px;
			}
		}
		i {
			color: #ffff73;
			text-shadow: 3px 3px #430000;
		}
	}
}
