
body{
  background-color: black;
  color: green;
  font-family: "Lucida Console", Monaco, monospace;
}

#command-bar{
  /* background-color: green;
  color: black; */
}

#notification{
  color: black;
  background-color: green;

}

#command-line {
  color: green;
  background-color: black;

  font-family: inherit;
  font-size: inherit;
}

#command-line p {
  margin: 0px;
  padding: 0px;
  min-height: 2em;
}

@-webkit-keyframes blink { 50% { border-color: green; }  }

#command-line.focus {
  border: 1px solid black ;
  -webkit-animation: blink .5s step-end infinite alternate;
}

#command-line:not[.focus] {
  border: 1px solid black ;
}

#schematic #grid .schematic-cursor-highlight {
  border: 1px solid green;
}

#schematic #grid .schematic-cursor-no-highlight {
  border: 1px solid black;
}



#tabs .react-tabs__tab-list{
  border-bottom: 1px solid green;
}

.react-tabs__tab.react-tabs__tab--selected{
  background-color: green;
  color: black;
  border: none;
  border-radius: 0px;
  padding: 10px;
}

.react-tabs__tab-panel.react-tabs__tab-panel--selected{
  border: 1px solid green;
}

.react-tabs__tab {
  border: 1px dotted green;
}

hr {
  border: 1px solid green;
}


#tabs .react-tabs__tab{
  padding: 1px 6px;
}

ul{
  padding-left: 10px;
  list-style: none;
}


table td{
  border: 1px solid green;
}



#terminal p {
  padding: 0px;
  margin: 0px;
}
