extends layout

block content
  pre
    |███████╗██████╗  █████╗  ██████╗███████╗████████╗██████╗  █████╗ ███████╗██╗  ██╗
    |██╔════╝██╔══██╗██╔══██╗██╔════╝██╔════╝╚══██╔══╝██╔══██╗██╔══██╗██╔════╝██║  ██║
    |███████╗██████╔╝███████║██║     █████╗     ██║   ██████╔╝███████║███████╗███████║
    |╚════██║██╔═══╝ ██╔══██║██║     ██╔══╝     ██║   ██╔══██╗██╔══██║╚════██║██╔══██║
    |███████║██║     ██║  ██║╚██████╗███████╗   ██║   ██║  ██║██║  ██║███████║██║  ██║
    |╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝
    | 
    |// A rogue-ish RTS MMO about robots fighting on spaceships
    |// adamwong246, 2020
    | 
    |1 Login into your spacetash terminal to take command of a ship and bots.
    |2 Dock with other ships.
    |3 Explore, gather resouces and fight other bots.
    |4 Write code to manage your bots
    |5 GOTO 2`
    
