extends layout

block content
  h2 New Session
  .container
    form.form-signin(role='form', action='/sessions', method='post')

      label(for="ship">Choose ship:)
      select(name="ship" id="ship")
        - for ship in allShips
          option(value=ship.id)= ship.name
          
      label(for="user">Choose user:)
      select(name="user" id="user")
        - for user in allUsers
          option(value=user.id)= user.name
            
      button(type='submit') Create Session
