a {
  color: green;
}

body{
  color: green;
}

#command-line * {
  background-color: green;
  color: black;
}


#command-bar > span {
  border-color: green;
}

.react-tabs__tab-list {
  border-bottom: 1px solid green;
}

.monaco-editor * {
  color: green !important;
}
