a {
  color: cyan !important;
}

body{
  color: cyan !important;
}

#command-line * {
  background-color: cyan;
  color: black;
  font-size: 16px;
  font-family: "Lucida Console", Monaco, monospace;
}

#command-line form {
  display: inline;
}

#command-bar > span {
  border: 3px solid cyan;
}
