body{
  margin: 0px;
}

#app, #main {
  height: 100vh;
}

.codish {
  font-family: monospace;
}

.react-tabs__tab-list.vertical {
  display: flex;
  flex-direction: column;
  width: 170px;
  margin: 0;
  padding: 0;
  color: white;
  background: #3c3e43;
}

p {
  max-width: 40em;
}

table {
    border-collapse: collapse;
}
th, td {
    padding: 0;
}

.react-tabs__tab-list {
  border-bottom-width: 1px;
  border-botom-style: solid;
  margin: 0px;
  padding: 0px;;
}

#status {
  float: right;
}

#tabs {
  height: 100%;
}

.react-tabs, .react-tabs__tab-panel--selected{
  height: 100%;
  overflow-y: scroll;
}
