extends layout

block content
  h1 spaceTrash v0.0.6
  h2 A permadeath MMO combining aspects of Duskers, FTL, Cogmind, Drawf Fortress and Space Station 13
  
  p You are a QPU- a Quantum Processor Unit. You are installed in the bridge of a ship. Dock with other ships and program your drones with javascript to explore, salvage, attack and defend against monsters and other bots. You can scavage fuel to fly further into the void... OR you can just pirate other vessels for fun. You can become a trillionaire selling your booty... or by just mining crypto! You can even find and preserve biological life in space by founding a colony. But beware- death is permanent and to the winner go the spoils. They only thing you can keep between playthroughs is your own javascripts!
  
  p From your pseudo-terminal, you can load your own js files, either from your local computer or a hosted on the web. This bundle will define the interfaces you can view game data.
  
  p Bots powered with js recieve raycasted data via websockets. They respond by enqueing instructions to the server via the same websocket.
  
