extends layout

block content
  h2 New Session
  .container
    form.form-signin(role='form', action='/sessions', method='post')
      label(for='name')
      input(type='text', name='name', id='name', placeholder='Session name', required)
      
      label(for="users">Choose users:)
      select(name="users" id="users" multiple)
        - for user in allUsers
          option(value=user.id)= user.name
            
      button(type='submit') Create Session
