td{
  vertical-align: top;
}

table.matrix td {
  width: 3em;
  text-align: left;
}

body{
  font-family: "Lucida Console", Monaco, monospace;
  background-color: black;
}

#command-line {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0px;
  outline: none;
  border: none;
}

.scrolly {
  overflow: scroll;
  height: 100%;
}

.react-tabs__tab-panel.react-tabs__tab-panel--selected {
  height: calc(90vh);
}



.react-tabs__tab  {
  text-decoration: underline;
}
